body{
	background-color: rgba(238,162,164,0.4);
	margin: 0;
	padding-right: 0;
	width: 100%;
	font-family: 'Quicksand', sans-serif;
}

h1{width: 100%;
	padding-top: 0.4px;
	padding-bottom: 0.3px;
	padding-left: 160px;
	font-size: 44px;
	margin: 0;
}



#female{width: 50px;
		size: 100px;
		position: absolute;
		top: 56px;
		margin-left: 239px; 
}

#NetId{
	color: rgb(136,136,136);
	position: absolute;
	left: 160px;
	top: 70px;
	font-size: 30px;
}
 
#profile{
	width: 145px;
	float:left;
	position: absolute;
	z-index: 999;
	top: 0;
}

#hhh{
	width: 145px;
	position: absolute;
	right: 0px;
	top: 0px;
	float: right;
	padding: 0;
	margin: 0;

}

.href{
	font-size: 20px;
	background-color: rgb(255,246,204);
	text-align: center;
	clear: both;
	padding-top: 10px;
}


a.nav-link{
	display: inline-block;
	width: 200px;
	position: relative;
	top: -6px;
	color: tomato;
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
}

.nav-link:hover{
	color: rgb(176,177,200);
	transition: color 0.3s; font-weight: bolder; font-size: 25px;
}



#Wechat{
	text-align: center;
	font-size: 40px;	
}

#qr{
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}


#title{
	position: absolute;
	top: 60px;
	padding: 0;
	text-align: center;
	width: 100%
}






























